.preloader {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background: hsla(0, 0%, 100%, .8);
    box-shadow: 0 1px 10px 0 rgba(33, 33, 33, .05);
    -webkit-box-shadow: 0 1px 10px 0 rgba(33, 33, 33, .05);
    -moz-box-shadow: 0 1px 10px 0 rgba(33, 33, 33, .05);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.preloader ul {
    display: flex;
}
.preloader ul li {
    width: 20px;
    height: 20px;
    margin: 10px;
    list-style-type: none;
    transition: all .5s ease;
}
.preloader ul li:first-child {
    -webkit-animation: right-1 1s infinite alternate;
    animation: right-1 1s infinite alternate;
    background-color: #00c86c;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
@-webkit-keyframes right-1 {
    0% {
        transform: translateY(-60px);
    }
    to {
        transform: translateY(60px);
    }
}@keyframes right-1 {
     0% {
         transform: translateY(-60px);
     }
     to {
         transform: translateY(60px);
     }
 }.preloader ul li:nth-child(2) {
      -webkit-animation: right-2 1s infinite alternate;
      animation: right-2 1s infinite alternate;
      background-color: rgba(33, 33, 33, .1);
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
  }
@-webkit-keyframes right-2 {
    0% {
        transform: translateY(-70px);
    }
    to {
        transform: translateY(70px);
    }
}@keyframes right-2 {
     0% {
         transform: translateY(-70px);
     }
     to {
         transform: translateY(70px);
     }
 }.preloader ul li:nth-child(3) {
      -webkit-animation: right-3 1s infinite alternate;
      animation: right-3 1s infinite alternate;
      background-color: #2962ff;
      -webkit-animation-delay: .3s;
      animation-delay: .3s;
  }
@-webkit-keyframes right-3 {
    0% {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(80px);
    }
}@keyframes right-3 {
     0% {
         transform: translateY(-80px);
     }
     to {
         transform: translateY(80px);
     }
 }.preloader ul li:nth-child(4) {
      -webkit-animation: right-4 1s infinite alternate;
      animation: right-4 1s infinite alternate;
      background-color: #6a66a3;
      -webkit-animation-delay: .4s;
      animation-delay: .4s;
  }
@-webkit-keyframes right-4 {
    0% {
        transform: translateY(-90px);
    }
    to {
        transform: translateY(90px);
    }
}@keyframes right-4 {
     0% {
         transform: translateY(-90px);
     }
     to {
         transform: translateY(90px);
     }
 }.preloader ul li:nth-child(5) {
      -webkit-animation: right-5 1s infinite alternate;
      animation: right-5 1s infinite alternate;
      background-color: #ff5722;
      -webkit-animation-delay: .5s;
      animation-delay: .5s;
  }
@-webkit-keyframes right-5 {
    0% {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(100px);
    }
}@keyframes right-5 {
     0% {
         transform: translateY(-100px);
     }
     to {
         transform: translateY(100px);
     }
 }.cube {
      position: relative;
  }
.cube .cube__caption {
    margin: 0 auto;
}
.cube .cube__loader {
    width: 50px;
    height: 50px;
    margin: 30px auto;
    position: relative;
    transform: rotate(45deg);
}
.cube .cube__loader .cube {
    position: relative;
    transform: rotate(45deg);
    width: 50%;
    height: 50%;
    float: left;
    transform: scale(1.1);
}
.cube .cube__loader .cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00c86c;
    -webkit-animation: cube-loader 2.76s linear infinite both;
    animation: cube-loader 2.76s linear infinite both;
    transform-origin: 100% 100%}
.cube .cube__loader .loader-2 {
    transform: scale(1.1) rotate(90deg);
}
.cube .cube__loader .loader-3 {
    transform: scale(1.1) rotate(180deg);
}
.cube .cube__loader .loader-4 {
    transform: scale(1.1) rotate(270deg);
}
.cube .cube__loader .loader-2:before {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.cube .cube__loader .loader-3:before {
    -webkit-animation-delay: .69s;
    animation-delay: .69s;
}
.cube .cube__loader .loader-4:before {
    -webkit-animation-delay: 1.04s;
    animation-delay: 1.04s;
}
.cube--red .cube__loader .cube:before {
    background-color: #ff5722;
}
.cube--yellow .cube__loader .cube:before {
    background-color: #ffd54f;
}
.cube--blue .cube__loader .cube:before {
    background-color: #2962ff;
}
@-webkit-keyframes cube-loader {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%, to {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}@keyframes cube-loader {
     0%, 10% {
         transform: perspective(136px) rotateX(-180deg);
         opacity: 0;
     }
     25%, 75% {
         transform: perspective(136px) rotateX(0deg);
         opacity: 1;
     }
     90%, to {
         transform: perspective(136px) rotateY(180deg);
         opacity: 0;
     }
 }.loader {
      height: 100%;
      width: 100%;
      margin-top: 0;
      padding-bottom: 60px;
  }
.loader .l_main {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    margin: 0;
    transform: translate(-60%, -50%);
}
@media (max-width:550px) {
    .loader {
        transform: scale(.75);
    }
}@media (max-width:440px) {
    .loader {
        transform: scale(.5);
    }
}.l_square {
     position: relative;
 }
.l_square:first-child {
    margin-left: 0;
}
.l_square:nth-child(2) {
    margin-left: 22px;
}
.l_square:nth-child(3) {
    margin-left: 44px;
}
.l_square:nth-child(4) {
    margin-left: 66px;
}
.l_square span {
    position: absolute;
    top: 0;
    left: 20px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #00c86c;
}
.l_square span:first-child {
    top: 0;
}
.l_square span:nth-child(2) {
    top: 22px;
}
.l_square span:nth-child(3) {
    top: 44px;
}
.l_square:first-child span {
    -webkit-animation: animsquare1 2s ease-in infinite;
    animation: animsquare1 2s ease-in infinite;
}
.l_square:nth-child(2) span {
    -webkit-animation: animsquare2 2s ease-in infinite;
    animation: animsquare2 2s ease-in infinite;
}
.l_square:nth-child(3) span {
    -webkit-animation: animsquare3 2s ease-in infinite;
    animation: animsquare3 2s ease-in infinite;
}
.l_square:nth-child(4) span {
    -webkit-animation: animsquare4 2s ease-in infinite;
    animation: animsquare4 2s ease-in infinite;
}
.l_square span:first-child {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.l_square span:nth-child(2) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.l_square span:nth-child(3) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes animsquare1 {
    0%, 5%, 95%, to {
        transform: translate(0) rotate(0deg);
    }
    30%, 70% {
        transform: translate(-40px) rotate(-90deg);
    }
}@keyframes animsquare1 {
     0%, 5%, 95%, to {
         transform: translate(0) rotate(0deg);
     }
     30%, 70% {
         transform: translate(-40px) rotate(-90deg);
     }
 }@-webkit-keyframes animsquare2 {
      0%, 10%, 90%, to {
          transform: translate(0) rotate(0deg);
      }
      35%, 65% {
          transform: translate(-40px) rotate(-90deg);
      }
  }@keyframes animsquare2 {
       0%, 10%, 90%, to {
           transform: translate(0) rotate(0deg);
       }
       35%, 65% {
           transform: translate(-40px) rotate(-90deg);
       }
   }@-webkit-keyframes animsquare3 {
        0%, 15%, 85%, to {
            transform: translate(0) rotate(0deg);
        }
        40%, 60% {
            transform: translate(-40px) rotate(-90deg);
        }
    }@keyframes animsquare3 {
         0%, 15%, 85%, to {
             transform: translate(0) rotate(0deg);
         }
         40%, 60% {
             transform: translate(-40px) rotate(-90deg);
         }
     }@-webkit-keyframes animsquare4 {
          0%, 20%, 80%, to {
              transform: translate(0) rotate(0deg);
          }
          45%, 55% {
              transform: translate(-40px) rotate(-90deg);
          }
      }@keyframes animsquare4 {
           0%, 20%, 80%, to {
               transform: translate(0) rotate(0deg);
           }
           45%, 55% {
               transform: translate(-40px) rotate(-90deg);
           }
       }.icon--sad {
            width: 70px;
            height: 70px;
            margin: 0 2px 0 0;
            background: url(/images/sad.svg?fa500e5766fcb612ea7eaf3efe3de947) 0 0 no-repeat;
            background-size: contain;
        }
.error {
    color: #ff5722;
}
.text-bold {
    font-weight: 500;
}
.text-boldest {
    font-weight: 800;
}
.exchange-form .error {
    font-size: 12px;
}
.status-success {
    color: #00c86c;
}
.status-delete, .status-error {
    color: #ff5722;
}
.status-waiting {
    color: #00c86c;
}
.checkbox-toggle-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .6;
}
.loader-area {
    position: relative;
}
.notfound {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.notfound--no-margin {
    margin-bottom: 0;
}
.notfound__icon {
    display: inline-block;
}
.article__image_container {
    text-align: center;
}
.article__content {
    display: block;
    word-break: break-word;
    white-space: normal;
}
@media screen and (max-width:719px) and (min-width:321px) {
    .tooltipster-sidetip .tooltipster-content {
        font-size: 8pt;
    }
}.container--static {
     margin-bottom: 80px;
     font-family: IBM Plex Sans, sans-serif;
 }
.container--static ol, .container--static ol ol, .container--static ol ul, .container--static ul, .container--static ul ol, .container--static ul ul {
    padding-left: 30px;
}
.container--static p {
    text-indent: 0!important;
    margin-top: 0!important;
    margin-bottom: 15px!important;
}
.container--static * {
    font-family: IBM Plex Sans, sans-serif;
}
.main {
    overflow-x: inherit;
}
.select__dropdown-menu--cats {
    margin: 10px 10px 0;
}
.button__direction-search {
    width: auto;
    height: auto;
    line-height: normal;
    padding: 3px 8px;
    font-size: 14px;
    margin-right: 5px;
}
.button__direction-search.active {
    opacity: .8;
}
@media screen and (max-width:719px) {
    .button__direction-search {
        margin-bottom: 5px;
    }
}.select__dropdown .select__dropdown__search, .select__dropdown .select__dropdown__search2 {
     width: calc(100% - 44px);
     margin: 10px 10px 0;
 }
.error-request {
    background-color: #fff!important;
}
.fail-request {
    background-color: #fff2ee!important;
}
.success-request {
    background-color: #c8ffe6!important;
}
.review-partners {
    display: block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.review-partners li {
    display: inline-block;
    margin-right: 5px;
}
.fancybox-opened .fancybox-skin {
    box-shadow: none;
    background: transparent;
    padding: 0;
}
.notification-block {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%}
@media screen and (max-width:992px) {
    .notification-block {
        top: 100px;
        width: 90%;
        transform: translateX(-50%);
    }
}.notification-block--wide {
     width: 80%}
@media screen and (max-width:992px) {
    .notification-block--wide {
        top: 100px;
        width: 90%}
}.operators_message_area>b {
     display: inline-block;
     margin: 0 0 20px!important;
 }
.operators_message {
    white-space: pre-line;
    margin: 0 0 5px!important;
}
input[type=checkbox] {
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
}
.reviews-logos {
    text-align: center;
}
.reviews-logos>div {
    float: none;
    display: inline-block;
    vertical-align: top;
}
